<!--
 * Title: about.component.html
 * Author: Diandra McKenzie
 * Date: 23 September 2020
 * Description: About component html file
-->

<!-- Image -->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="assets/about_us_image.jpg" class="logo"/>
      </div>
    </div>
  </div>

  <!-- About Us Copy -->
  <div fxFlex>
    <h1 >We're Here To Help!</h1>
    <p class="about">
      Here at nodebucket we are all about helping others to get and stay organized.
      Through the use of our user-friendly application that is now easier than ever.
      As we all know life can move very fast sometimes and we can all use some help
      in accomplishing our personal goals and tasks. This app is ver simple to use.
      All a use has to do is enter a task they want to complete. Once a task is complete
      they can drag it from the To-Do classification in the Done classification. This
      stream-lined process enables users to keep track of everything they need to accomplish
      and also provides a means to track any task that has been completed.
      By signing in to this application it ensures that all data remains private and secure.
      Please contact us today!
    </p>
  </div>
</div>
