<!--
 * Title: about.component.html
 * Author: Diandra McKenzie
 * Date: 23 September 2020
 * Description: About component html file
-->

<!-- Image -->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="assets/about_us_image.jpg" class="logo"/>
      </div>
    </div>
  </div>

  <!-- About Us Copy -->
  <div fxFlex>
    <h1 >We're Here To Help!</h1>
    <p class="about">
      Here at nodebucket we are all about helping others to get and stay organized.
      Through the use of our user-friendly application that is now easier than ever.
      As we all know that life can move very fast sometimes and we can all use some help
      in accomplishing our personal goals and tasks. This application is very simple to use.
      All a user has to do is create a task that they want to complete. Once a task is complete
      they can drag it from the To-Do category in the Done category. This stream-lined
      process enables users to keep track of everything they need to accomplish tasks and also
      provides a means to track any task that has been completed. A user can also delete
      a task at their discretion. Deleting tasks can be very useful in avoiding clutter
      in the application once a task is deemed complete. This application is useful for
      any user that wants to keep track of their tasks. It has the ability to categorize
      tasks so that users will stay organized. All users will have the ability to drag to
      do tasks into the done category once they are complete. Nodebucket allows for ease
      of use for any user to add tasks on the go to save time.For any user that is concerned
      about data security the nodebucket application makes sure that only valid users have
      the ability to sign in. By signing into this application, it ensures that all data
      remains private and secure. If nodebucket seems like it can help you stay organized
      in accomplishing your tasks, please contact us today!

    </p>
  </div>
</div>
