<!--
 * Title: not-found.component.html
 * Author: Diandra McKenzie
 * Date: 5 October 2020
 * Description: Not-found component html file
-->

<!-- Image -->
<div fxLayout="row wrap">
  <div fxFlex>
    <div>
      <img src="assets/404 error.png" class="image"/>
    </div>
  </div>
</div>

<!-- main content -->
<div class="content">
<p>Page Not Found</p>
<span>The page you are looking for has moved, been removed, renamed, or never existed </span>
</div>
<br />

<!-- button -->
<div>
<button class="home" routerLink="/" mat-raised-button color="primary">home</button>
</div>
