/**
 * Title: home.component.css
 * Author: Diandra McKenzie
 * Date: 23 September 2020
 * Description: Home component styling
 */

.main-welcome {
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }

  .title {
    margin-bottom: 25%;
    font-weight: lighter;
  }

  .subtitle {
    font-size: 18px;
  }
