<!--
 * Title: home.component.html
 * Author: Professor Krasso
 * Date: 23 September 2020
 * Modified By: Diandra McKenzie
 * Description: Home component html file
-->

<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Nodebucket, is task management software designed to simplify the way you create, track, edit, and delete time sensitive material. This is a full-stack MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts that were taught in previous courses. MongoDB will be used for data persistence. Node.js will be used for manipulating and returning saved records, SoapUI for unit testing, and Angular for user interactions.
      </span>
    </h1>
  </div>

