<!--
 * Title: base-layout.component.html
 * Author: Professor Krasso
 * Date: 23 September 2020
 * Modified By: Diandra McKenzie
 * Description: Base-layout component html file
-->

<div fxLayout="column">

    <!-- navigation -->
    <nav fxFlex>

      <mat-toolbar class="toolbar" fxLayoutAlign="end start">
        <!-- navbar container -->
        <div class="navbar-container">
          <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" routerLink="/about" mat-button>About Us</button>
          <button class="navbar-link" routerLink="/session/sign-in" mat-button>Sign Out</button>
        </div>

      </mat-toolbar>
    </nav>

    <h1> {{ title }}</h1>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">

        <router-outlet></router-outlet>

      </main>
    </div>

    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>

  </div>
